* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.corrdinates {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.corrdinates.show {
  opacity: 1;
  visibility: visible;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  background: url(../coordinates/img/target.png) no-repeat center center;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  background: white;
  opacity: 0.5;
}

.line.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}

.line.horizontal  {
  width: 100%;
  height: 1px;
  top: 50%;
}

.target span {
  position: absolute;
  min-width: 200px;
  padding: 0 10px;
  left: 100%;
  bottom: 0;
  color: white;
}

.button-wrap {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  width: 100px;
  height: 25px;
  padding: 3px 5px;
  border: 0;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}

.button.start {
  background: teal;
  color: white;
}

.button.stop {
  background: red;
  color: white;
}
