/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common */
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  text-indent: -9999;
}

/* color */
body {
  color: #666;
  font-size: 14px;
  line-height: 1;
}

/* layout */
.ly-wrapper {
  position: relative;
  padding: 40px 0 96px;
}

.fixed {
  position: fixed;
  left: 0;
}

.ly-header {
  width: 100%;
  height: 40px;
  background: #4287f5;
}

.ly-header.fixed {
  top: 0;
}

.content {
  padding: 30px 20px;
}

.ly-navi {
  width: 100%;
  height: 50px;
  background: #4287f5;
}

.ly-navi.fixed {
  bottom: 0;
}

.input-wrap {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 45px;
  border-top: 1px solid #4287f5;
}

.input-wrap input {
  width: inherit;
  height: inherit;
  padding: 2px 10px;
  font-size: 13px;
  border: 0;
}

.button {
  display: inline-block;
  border: 0;
  background: transparent;
}

.button.confirm {
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  border: 2px solid #4287f5;
}

.button.confirm::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3px;
  height: 25px;
  background: #4287f5;
}

.button.confirm::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 3px;
  background: #4287f5;
}

/* content */
.shopping-list li {
  height: 25px;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 19px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 19px -8px rgba(0, 0, 0, 0.3);
}

.shopping-list li + li {
  margin-top: 8px;
}

.shopping-list .item {
  position: relative;
  line-height: 2;
  padding-right: 43px;
}

.shopping-list .item .remove {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 16px;
  color: #999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.shopping-list .item:hover {
  color: #4287f5;
}

.shopping-list .item:hover .remove {
  color: tomato;
}
